.header {
  color: var(--text);
  margin-bottom: 1rem;
}

.header h1 {
  font-weight: 500;
}

.header h1 svg {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.main h2, .formContainer h3 {
  color: var(--text-input);
}

/* Formulário */
/* #name { grid-area: name; }
#type { grid-area: type; }
#email { grid-area: email; }
#tel { grid-area: tel; } */

/* .formContainer form {
  display: grid;
  gap: 1rem;
  
  grid-template-areas: 
  'name name type'
  'email email  tel'
  'btnGroup btnGroup btnGroup';
} */

.formContainer form .assigneeInputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  
  padding: 0.5rem 0 2rem;
}

.formContainer form .assigneeAdminInputs {
  display: grid;
  grid-template-columns: 41.66666% 25%;
  gap: 1rem;
  
  padding: 0.5rem 0 2rem;
}

.formContainer form .addressInputs .cepGroup {
  display: grid;
  grid-template-columns: 41.66666% 25%;
  gap: 1rem;

  align-items: flex-end;

  padding: 0.5rem 0 1rem;
}

.addressInputs .cepBtn {
  color: var(--green);
  font-weight: 600;
  font-size: 1rem;

  padding: 0 3rem;
  height: 3rem;
  
  background-color: transparent;
  border: 2px solid var(--green);
  
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.3s;
}

.addressInputs .cepBtn:hover {
  color: var(--white);
  background-color: var(--green);
}

.formContainer form .addressInputs {
  padding-bottom: 2rem;
}

#street, #adminStreet {grid-area: street;}
#city, #adminCity {grid-area: city;}
#uf, #adminUF {grid-area: uf;}
#district, #adminDistrict {grid-area: district;}
#complement, #adminComplement {grid-area: complement;}

.formContainer form .addressInputs .addressGroup {
  display: grid;
  gap: 1rem;
  grid-template-areas: 
    'street street street street street city city city city city uf uf'
    'district district district district district complement complement complement complement complement complement complement';
}

.btnGroup {
  grid-area: btnGroup;

  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: 1rem;
}

.submitBtn {
  width: 20rem;
  max-width: 100%;

  padding: 1rem 0;

  font-size: 1rem;
  color: var(--white);
  font-weight: 600;
  background-color: var(--green);

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.3s;
}

.submitBtn:hover {
  background-color: var(--green-dark);
}

.cancelBtn {
  width: 20rem;
  max-width: 100%;

  padding: 1rem 0;

  font-size: 1rem;
  color: var(--red);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  
  border-radius: 0.5rem;
  border: 2px solid var(--red);

  cursor: pointer;

  transition: 0.3s;
}

.cancelBtn:hover {
  color: var(--white);
  background-color: var(--red);
}

/* Uso geral */
.inputGroup {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--green);
  
  font-size: 1.5rem;
  color: var(--white);

  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.3s;
}

.btn:hover {
  background-color: var(--green-dark);
}