.header {
  color: var(--text);
  margin-bottom: 1rem;
}

.header h1 {
  font-weight: 500;
}

.header h1 svg {
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* Formulário */
#name { grid-area: name; }
#type { grid-area: type; }
#email { grid-area: email; }
#tel { grid-area: tel; }

.formContainer form {
  display: grid;
  gap: 1rem;

  grid-template-areas: 
    'name name type'
    'email email  tel'
    'btnGroup btnGroup btnGroup';
}

.btnGroup {
  grid-area: btnGroup;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.submitBtn {
  width: 20rem;
  max-width: 100%;

  padding: 1rem 0;

  font-size: 1rem;
  color: var(--white);
  font-weight: 600;
  background-color: var(--green);

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.3s;
}

.submitBtn:hover {
  background-color: var(--green-dark);
}

.cancelBtn {
  width: 20rem;
  max-width: 100%;

  padding: 1rem 0;

  font-size: 1rem;
  color: var(--red);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  
  border-radius: 0.5rem;
  border: 2px solid var(--red);

  cursor: pointer;

  transition: 0.3s;
}

.cancelBtn:hover {
  color: var(--white);
  background-color: var(--red);
}

/* Uso geral */
.inputGroup {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--green);
  
  font-size: 1.5rem;
  color: var(--white);

  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.3s;
}

.btn:hover {
  background-color: var(--green-dark);
}