.container {
  display: flex;
}

#contentId {
  flex: 1;
  padding: 2rem;

  transition: 0.3s;
}

.content {
  margin-left: 20%;
}

.hidden {
  margin-left: 3.25rem;
}

@media (max-width: 768px) {
  #contentId {padding: 1rem;}
  .content, .hidden {margin-left: 0;}
}