.header {
  color: var(--text);
  margin-bottom: 1rem;
}

.header h1 {
  font-weight: 500;
}

.header h1 svg {
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* Barra de ferramentas */
.toolsRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 1.5rem;
}

.toolsRow .options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Anexos */
.numberOfAttachments {
  margin-left: 0.5rem;
  color: var(--text-input);
}

.attachmentContainer {
  position: relative;  
}

.attachmentContainer button {
  width: 100%;
}

.attachmentContent {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  width: 30rem;
  max-width: 600px;

  background: var(--white);
  box-shadow: 0px 50px 70px -20px rgba(0, 0, 0, 0.15);
  padding: 2rem 3rem;

  border-radius: 0.5rem;
}

.attachmentContent h3 {
  border-bottom: 1px solid var(--disabled);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.closeBtn {
  font-size: 1.25rem;
  color: var(--red);

  position: absolute;
  top: 2rem;
  right: 1.5rem;

  cursor: pointer;
}

.attachmentList {
  max-height: 13rem;

  overflow-y: scroll;
}

.attachmentList::-webkit-scrollbar {
  width: 0px;
}

.attachmentItem {
  display: flex;

  gap: 1rem;
}

.attachmentItem + .attachmentItem {
  padding-top: 1rem;
}

.attachmentItem span {
  border: 2px solid var(--disabled);
  border-radius: 0.5rem;
  
  height: 3rem;
  width: 100%;

  display: flex;
  align-items: center;
  
  padding: 0 1rem;
}

.attachmentBtns {
  display: flex;
  gap: 1rem;
}

.attachmentBtns button {
  width: 3rem;
  height: 3rem;
}

.newAttachmentBtn {
  border-top: 1px solid var(--disabled);
  padding-top: 0.5rem;
  margin-top: 1rem;
}

.outlineLabel {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--green);
  font-weight: 500;
  font-size: 1rem;

  height: 3rem;
  
  background-color: transparent;
  border: 2px solid var(--green);
  
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.3s;
}

.outlineLabel:hover {
  color: var(--white);
  background-color: var(--green);
}

.main h2, .formContainer h3 {
  color: var(--text-input);
}

/* Formulário */
.detailsInputs {
  display: grid;
  grid-template-columns: 33.33333% 8.33333%;
  gap: 1rem;
  align-items: flex-end;

  padding: 0.5rem 0 2rem;
}

#name, #partnerName {grid-area: name;}
#nacionality, #partnerNacionality {grid-area: nacionality;}
#gender, #partnerGender {grid-area: gender;}
#maritalState, #partnerMaritalState {grid-area: maritalState;}
#profession, #partnerProfession {grid-area: profession;}
#rg, #partnerRG {grid-area: rg;}
#cpf, #partnerCPF {grid-area: cpf;}

.formContainer form .clientInputs {
  display: grid;
  gap: 1rem;
  
  grid-template-areas: 
  'name name nacionality gender'
  'profession rg cpf maritalState';
  
  grid-template-columns: repeat(4, 1fr);
  
  padding: 0.5rem 0 2rem;
}

.formContainer form .contactInputs {
  display: grid;
  gap: 1rem;
  
  grid-template-columns: 2fr 1fr;
  
  padding: 0.5rem 0 2rem;
}

.btnGroup {
  grid-area: btnGroup;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.submitBtn {
  width: 20rem;
  max-width: 100%;

  padding: 1rem 0;

  font-size: 1rem;
  color: var(--white);
  font-weight: 600;
  background-color: var(--green);

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.3s;
}

.submitBtn:hover {
  background-color: var(--green-dark);
}

.submitLabel {
  width: 20rem;
  max-width: 100%;

  padding: 1rem 0;

  font-size: 1rem;
  color: var(--white);
  font-weight: 500;
  background-color: var(--green);
  text-align: center;

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.3s;
}

.submitInput {
  display: none;
}

.cancelBtn {
  width: 20rem;
  max-width: 100%;

  padding: 1rem 0;

  font-size: 1rem;
  color: var(--red);
  font-weight: 600;
  
  border-radius: 0.5rem;
  border: 2px solid var(--red);

  cursor: pointer;

  transition: 0.3s;
}

.cancelBtn:hover {
  color: var(--white);
  background-color: var(--red);
}

/* Uso geral */
.inputGroup {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--green);
  
  font-size: 1.5rem;
  color: var(--white);

  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.3s;
}

.btn:hover {
  background-color: var(--green-dark);
}

.btn img, .btn svg {
  height: 1.25rem;
}

.redBtn {
  background-color: var(--red);
}

.redBtn:hover {
  background-color: var(--red-dark);
}

.invalidField {
  outline: 2px solid var(--red);
  outline-offset: 2px;
}

.outlineBtn.btn {
  width: 20rem;
}

.outlineBtn, a.outlineBtn {
  color: var(--green);
  font-weight: 600;
  font-size: 1rem;

  height: 3rem;
  
  background-color: transparent;
  border: 2px solid var(--green);
  
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.3s;
}

a.outlineBtn {
  text-decoration: none;
  display: flex;
  align-items: center;

  font-weight: 500;
}

.outlineBtn:hover {
  color: var(--white);
  background-color: var(--green);
}

.outlineBtn:disabled, a.outlineBtn.disabled {
  pointer-events: none;
  color: var(--disabled);
  border: 2px solid var(--disabled);
}

.options .outlineBtn {
  padding: 0 2rem;
}

.detailsInputs .outlineBtn {
  width: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.detailsInputs .outlineBtn svg {
  font-size: 1.5rem;
}

/* Modal */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.15);
}

.modal {
  position: relative;

  background-color: var(--white);
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}

.modal .modalContent {
  margin: 1rem 0 2rem;
}

.modal .modalGroupBtn {
  display: flex;
  gap: 1rem;

  margin-top: 1rem;
}

.modal > span {
  position: absolute;

  top: 2rem;
  right: 2rem;
}

/* Gerais */
.hide {
  display: none!important;
}

#partnerGroup h3 {
  margin-bottom: 0.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

#partnerGroup h3 svg {
  cursor: pointer;
  transition: 0.3s;
}

#partnerGroup h3 svg:hover {
  color: var(--green);
}

.disabled, .disabled:hover {
  color: var(--disabled);
  border: 2px solid var(--disabled);
  background: var(--white);
  cursor: default;
}