/* Header */
.header {
  color: var(--text);
  margin-bottom: 1rem;
}

.header h1 {
  font-weight: 500;
}

.header h1 svg {
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* Main */
.main h2 {
  margin-bottom: 0.5rem;
}

.main form > div {
  margin-bottom: 1rem;
}


#clientGroup {grid-area: client;}
#optionGroup {grid-area: option;}
#fundGroup {grid-area: fund;}
#precatoryGroup {grid-area: precatory;}
#processGroup {grid-area: process;}
#courtGroup {grid-area: court;}
#dateGroup {grid-area: date;}
#placeGroup {grid-area: place;}

#proposalInputs {
  display: grid;
  grid-template-areas: 
    'client client client client option option option fund fund fund date date'
    'precatory precatory precatory process process process court court court place place place';
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

#valueGroup {grid-area: value;}
#correctionGroup {grid-area: correction;}
#feeGroup {grid-area: fee;}
#preferenceGroup {grid-area: preference;}
#taxesGroup {grid-area: taxes;}
#percentageGroup {grid-area: percentage;}

#frameInputs {
  display: grid;
  grid-template-areas: 
    'value correction fee'
    'preference taxes percentage';
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

#frameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#frame {
  background-color: var(--white);
  border-radius: 0.5rem;
  
  padding: 2rem 1rem;
}

#frame h3 {
  text-align: center;

}

#frame table {
  border-spacing: 2rem 1rem;
}

#frame table .tableNumber {
  text-align: right;
}


/* Input Group */
.inputGroup {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup small.hide {
  display: none;
}

/* Btn Group */
.btnGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* Botões */
.btn {
  max-width: 100%;
  
  padding: 1rem 0;
  
  font-size: 1rem;
  color: var(--white);
  font-weight: 600;
  
  border: none;

  cursor: pointer;
  
  transition: 0.3s;
}

.btnGreen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
  background-color: var(--green);
  text-align: center;

  border: none;
  border-radius: 0.5rem;
}

.btnGreen:hover {
  background-color: var(--green-dark);
}

.btnRed {
  color: var(--red);
  text-decoration: none;
  text-align: center;
  
  border-radius: 0.5rem;  
  border: 2px solid var(--red);
}

.btnRed:hover {
  font-weight: 500;
  color: var(--white);
  background-color: var(--red);
}

@media (max-width: 767.98px) {
  #proposalInputs, #frameInputs {
    display: flex;
    flex-direction: column;
  }
  #frame {padding: 2rem 0;}
  .btnGroup {
    display: flex;
    flex-direction: column-reverse;
  }
}