@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --green: #13A538;
  --green-dark: rgb(14, 133, 44);
  --background: #F1F7F9;
  --white: #FFF;
  --text: #252525;
  --text-input: #737373;
  --red: #F24848;
  --red-dark: #d43434;
  --line: #DCDCDC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

input {
  font-size: 1rem;
  color: var(--text-input);
  
  background: var(--white);

  padding: 0.75rem 1rem;

  height: 3rem;
  max-width: 100%;

  border: none;
  box-shadow: 0px 50px 70px -20px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}