@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --green: #13A538;
  --green-dark: rgb(14, 133, 44);
  --background: #F1F7F9;
  --white: #FFF;
  --text: #252525;
  --text-input: #737373;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--text);
}